body {
    background-color: rgb(237, 235, 213);
}

.container {
    max-width: 1100px;
    margin: 0 auto; 
}

.cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.footer {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

check {
    grid-column: 3 / 3;
}

result {
    grid-column: 2 / 3;
}

.result {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    padding: 2px;
    font-size: 26px;
    font-weight: bold;
    color: hsl(287, 91%, 31%);
}

.button {
    margin: 5px;
    padding: 5px;
    font-size: 28px;
    border-radius: 5px;
    background-color: hsl(287, 85%, 58%);
}

.button:hover {
    background-color: hsl(287, 91%, 31%);
}

.check {
    position: relative;
    margin: 0 auto;
    top: 40;
    right: 100;
    height: 13vh;
}